@font-face {
font-family: 'Gilroy Light';
src: url('../fonts/Gilroy-Light.eot');
src: url('../fonts/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
url('../fonts/Gilroy-Light.woff') format('woff'),
url('../fonts/Gilroy-Light.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}

@font-face {
font-family: 'Museo Sans 300 Light Italic';
src: url('../fonts/MuseoSansCyrl-300Italic.eot');
src: url('../fonts/MuseoSansCyrl-300Italic.eot?#iefix') format('embedded-opentype'),
url('../fonts/MuseoSansCyrl-300Italic.woff') format('woff'),
url('../fonts/MuseoSansCyrl-300Italic.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}